<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Editar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" href ="../style/normalize.css">
	<link rel ="stylesheet" href = "/style/edit.css">
  
</head>
<body>
	<%- include ("../partials/header") %>
	<main>
		<div class="flecha">
			<a class="flechaI" href="/"><i class="fas fa-arrow-left"></i> </a>
		</div>	
		<div class="formulario">
			
			<div class="row">
				<div class="formulario-titulo">
					<h2 class="titulo">Formulario de edición de productos</h2>
				</div>
			</div>
			<div class="completar-form">
				<form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
					<div class="editando">
						<label for="name" class="form-label">Nombre:</label>
						<input type="text" id="name" name="name"  class="form-input" value="<%= productToEdit.name %>">
					<!--<h2 class="products-title">Estás editando: <i><%= productToEdit.name %></i></h2> -->
					</div>
					<div class="producto">
						<div class="descripcion">
							<label for="description" class="form-label">Descripción:</label><br>
							<textarea name="description" id="description" class="form-input"><%= productToEdit.description%></textarea>
						</div>
						<div class="personas">
							<label for="people" class="form-label">Cantidad de personas:</label>
							<select name="people" id="people" class="form-input" >
								<option><%= productToEdit.people%></option>
								<option value="1"> 1 </option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="3">4</option>
							</select>
						</div>
						<div class="categorias">
							<label for="category_id" class="form-label">Categoría:</label>
							<!-- <select name="category" id="category" class="form-input" >
								<option value="aventura">Aventura</option>
								<option value="gastronomia">Gastronomía</option>
								<option value="entretenimiento">Entretenimiento</option>
							</select> -->
							<select name="category_id" id="category" class="form-input">
								<% categoria.forEach(categoria => { %>
								<option value="<%= categoria.id %>" <% if (productToEdit.categoria.id == categoria.id) { %><%= 'selected' %><% }; %>><%= categoria.category %></option>
								<% }); %>
							</select>
						</div>
						<div class="imagen">
							<label for="image" class="form-label">Imagen:</label>
							<input type="file" id="image" name="image" class="form-input" >
						</div>
						<div class="precio">
							<label for="price" class="form-label">Precio del producto:</label>
							<input type="text" id="price" name="price" placeholder="2.400" class="form-input" value="<%= productToEdit.price %>">
						</div>
						<div class="vencimiento">
							<label for="expiration_date" class="form-label">Fecha limite:</label>
							<input  type="date" name="expiration_date" id="expiration_date" class="form-input" value = "<%=  productToEdit.expiration_date %>"></input>
						</div>
						<div class="crear">
							<button type="submit" class="guardar">Guardar cambios</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
	<!--footer -->
	<%- include ("../partials/footer") %>	
</body>	
</html>