<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href ="/normalize.css">
    <link rel ="stylesheet" href = "../style/create.css">
    
</head>
<body>
	<%- include ("../partials/header") %>
	<main>
		<div class="flecha">
			<a class="flechaI" href="/"><i class="fas fa-arrow-left"></i> </a>
		</div>	
	<div class="formulario">
			<h2 class="titulo">Formulario de creación de productos</h2>
		<div class="completar-form">
			<form action="/products" method="POST" enctype="multipart/form-data">
				<div class="errores">
					
				</div>
				<div class="producto">
					<div class="nombre">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" value="<%= locals.oldData ? oldData.name: null%>" class="form-input <%= locals.errors && errors.name ? 'is-invalid' : null %>">
						<% if(locals.errors && errors.name) { %>
                            <div class= "text-danger"> 
								<%= errors.name.msg %> 
							</div>
                        <% } %> 
					</div>
					<div class="precio">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej: 2400" class="form-input">
						<% if (locals.errors && errors.price) { %>
							<div class="text-danger">
								<%= errors.price.msg %>
							</div>
						<% } %>
					</div>
					<div class="personas">
						<label for="people" class="form-label">Cantidad de personas:</label>
						<select name="people" id="people" class="form-input">
							<option value="1" >1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
						</select>
						<% if (locals.errors && errors.people) { %>
							<div class="text-danger">
								<%= errors.people.msg %>
							</div>
						<% } %>
					</div>
					
					<div class="categorias">
						<label for="category_id" class="form-label">Categoría:</label>
						<select name="category_id" id="category_id" class="form-input">
							<option value="" disabled selected>Seleccione categoría</option>
							<% categoria.forEach(categoria => { %>
								<option value="<%= categoria.id%>"><%= categoria.category %></option>
								<% }); %>
							<!-- <option value="gastronomia">Gastronomía</option>
							<option value="aventura">Aventura</option>
							<option value="entretenimiento">Entretenimiento</option> -->
						</select>
					
						<% if (locals.errors && errors.category_id) { %>
							<div class="text-danger">
								<%= errors.category_id.msg %>
							</div>
						<% } %>
				
					</div>
					<div class="descripcion">
						<label for="description" class="form-label">Descripción:</label>
						<textarea name="description" id="description" class="form-input <%= locals.errors && errors.name ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.description: null %>"></textarea>
					    <% if(locals.errors && errors.description) { %>
                            <div class= "text-danger">
								 <%= errors.description.msg %> 
							</div>
                        <% } %>
					</div>
					<div class="imagen">
						<label for="image" class="form-label">Imagen:</label>
						<input type="file" id="image" name="image"  class="form-input <%= locals.errors && errors.name ? 'is-invalid' : null %>" value= "<%= locals.errors && errors.image ? 'is-invalid' : null %>">
					    <% if (locals.errors && errors.image) { %>
							<div class="text-danger">
								<%= errors.image.msg %>
							</div>
						<% } %>
					</div>	
					<div class="vencimiento">
						<label for="expiration_date" class="form-label">Fecha limite:</label>
						<input  type="date" name="expiration_date" id="expiration_date" class="form-input" value = "YYYY-MM-DD"></input>
						<% if (locals.errors && errors.expiration_date) { %>
							<div class="text-danger">
								<%= errors.expiration_date.msg %>
							</div>
						<% } %>
                    </div>

					<div class="crear">
						<button type="submit" class="guardar">Guardar producto</button>
					</div>
				</div>
			
			</form>
		</div>
    </div>
</main>

	<%- include ("../partials/footer") %>
	<script src="/js/productCreate.js"></script>
</body>	
</html>