<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href ="/normalize.css">
    <link rel ="stylesheet" href = "/style/productDetail.css">
</head>
<body>
    <%- include ("../partials/header") %>
    <div class="flecha">
        <a class="flechaI" href="/"><i class="fas fa-arrow-left"></i> </a>
    </div>
    <main>
        <div class="product-detail">
            <div class="title">
                    <h1><%= productos.name %></h1>
            </div>
            <p class="detalle"><%= productos.description %> </p>
            <section class="bar" >
                <img class="product-image" src="/images/<%= productos.image %>">
        
            <article>
                <div>
                    <h3>Acerca de este producto:</h3>
                    <p class="categoria"> <%= productos.categoria.category %></p>
                    <p class="personas"><i class="fas fa-user-friends"></i> <%= productos.people %></p>
                    <p class="dia"><i class="fas fa-calendar-day"></i> Hasta el: <%= productos.expiration_date %></p>
                    <h4 class="precio">$ <%= productos.price %></h4>
                </div>
            
                <div class="button-send">
                    <input type="submit" value="Comprar">
                </div>
                <div class = "botones">  
                    <button><a href="/products/edit/<%= productos.id%> " class="action-button edit">Editar</a></button>
                    <% if (locals.isLogged) { %>
                    <form action="/products/<%=productos.id%>?_method=DELETE" method="POST" enctype="multipart/form-data" style="display: inline-flex">
                    <button type="submit" id="delete" class="action-button delete">Borrar</button>
                    </form>
                    <% }%>
                </div>        
                <div class="payment">  
                    <img src="/images/MediosDePago_ar.f3317df5440144c6bf2cb502ad2bb941.png">
                </div>
            </article>
        </div>
    </section>
        <section class="oportunidades">
            <article class="oportunidad1">
                <img src = "/images/01393_veleros-lightbox01_96_260x180_f.jpg" class = "imagen1" >
                <h3 class="categoria"><i class="fas fa-running"></i>AVENTURA</h3>
                <h4>Paseo en velero por el Río de La Plata al atardecer</h4>   
            </article>
            <article class="oportunidad2">
                <img src = "/images/05693_cena-picasso-01_22_260x180_f.jpg" class = "imagen2" >
                <h3 class="categoria"><i class="fas fa-utensils"></i>GASTRONOMÍA</h3>
                <h4>Proba los mejores vinos con quien más quieras</h4>

            </article>
        </section>
        <%- include ("../partials/footer") %>
    </main>
    <script src="/js/detalle.js"></script>
</body>
</html>