<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href ="/normalize.css">
    <link rel ="stylesheet" href = "../style/products.css">
</head>
<body>
    <!--           HEADER                 -->
    <%- include ("../partials/header") %>
    <nav class="nav-desplegable">
        <ul class="menu">
            <li class="filter"><a href="">Filtrar<i class="fas fa-angle-down"></i></a>
                <ul class="item"> 
                    <li><a href="">Gastronomía</a></li>
                    <li><a href="">Aventura</a></li>
                    <li><a href="">Entretenimiento</a></li>
                </ul>          
            </li>
        </ul>
    </nav>  

    <!--           HEADER                 -->
    <div class="aside">
        <%- include ("../partials/aside") %>
    </div>
    <% for (i=0; i<productos.length;i++) { %>
    <section>
        <article class="op1">
            <img src = "../images/7641_Mishiguene_Fayer_045PhSantiagoSotoMonllor.jpg" class = "opcion1" >
            <p class="categoria"><i class="fas fa-utensils"></i><%= productos[i].category %></p>
            <h2><%= productos[i].name %></h2>
            <p class="descripcion"><%= productos[i].description %> </p>
            <p class="precio"><%= productos[i].price %></p>
        </article>
              
    </section>
    <% } %>
    <div class="page-buttons">
        <button class=""> <a href=""><i class="fal fa-angle-left"></i></a>       </button>
        
        <button class="">    1    </button>
        <button class="">    2    </button>
        <button class="">    3    </button>
        <button class="">    4    </button>
        <button class="">    5    </button>
        <button class="">    6    </button>

        <button class="">    <i class="fal fa-angle-right"></i>    </button>
    </div>
    



    <%- include ("../partials/footer") %>
</body>
</html>


