<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Perfil</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" href ="/normalize.css">
	<link rel ="stylesheet" href = "../style/profile.css">
</head>
    
<body>
	
	<%- include ("../partials/header")%>

    <!--navbar-->
	<div class="navbar">
		<ul>
			<li><a class="nav-link" href="/products/how">Nosotros</a></li>
			<li><a class="nav-link" href="/products">Productos</a></li>
			<li><a class="nav-link" href="/products/create">Crear</a></li>
		</ul>
	</div>
	<!-- Container -->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2>Hola <%= usuario.name %> !</h2>
				<img src="/images/avatars/<%= usuario.avatar %> ">
				<br>
				<br>
				<div class="alert alert-success"><%= usuario.email %> </div>
			</div>
		</div>
	</div>
	<!-- //Container -->
	<!--FOOTER-->	
	<%- include ("../partials/footer") %> 
</body>
</html>