<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Perfil</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" href ="/normalize.css">
	<link rel ="stylesheet" href = "../style/profile.css">
</head>
<header>
	<!--menu/logo
	<div class="container-menu">
	    <a class="menu" href="#" ><i class="fas fa-bars"></i></a>    
        <h1 class="logo"><a href="/">EXP</a></h1>    
	</div>-->
     <%- include ("../partials/header")%>

    <!--navbar-->
	<%- include ("../partials/navbar") %>
</header>
	<!-- Container -->
	<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2>Hola <%= usuario.name %> !</h2>
				<img src="/images/avatars/<%= usuario.avatar %> ">
				<br>
				<br>
				<div class="alert alert-success"><%= usuario.email %> </div>
			</div>
		</div>
	</div>
	<!-- //Container -->
	<!--FOOTER-->	
	<%- include ("../partials/footer") %> 
</body>
</html>