<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creá tu cuenta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="stylesheet" href="/style/register.css">
</head>
<body>
    <%- include ("../partials/header") %>
    <div class="flecha">
        <a href="/"><i class="fas fa-arrow-left"></i></a>
    </div>
    <main>
        <form action="/user/register" method="POST" enctype="multipart/form-data">
            <h2>¡Creá Tu Cuenta!</h2>
            <!-- frontend -->
            <div class="errores">
             
            </div>
             <!-- back mismo email -->
            <% if (locals.validation && validation.email) { %>
                <div class="text-danger">
                    <%= validation.email.msg %>
                </div>
            <% } %>          
            <section class="register">
                <div  class="user-name">
                    <input class="name <%= locals.errors && errors.name ? 'is-invalid' : null %>" 
                    value="<%= locals.oldData ? oldData.name : null %>"
                    id="name" type="text" name="name" placeholder="Nombre"
                     >
                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg %> 
                            </div>
                        <% } %>
                    <input class="lastName <%= locals.errors && errors.lastName ? 'is-invalid' : null %>" 
                        value="<%= locals.oldData ? oldData.lastName : null %>"
                        type="text" name="lastName"id="lastName" placeholder="Apellido">
                        <% if (locals.errors && errors.lastName) { %>
                            <div class="text-danger">
                                <%= errors.lastName.msg %> 
                            </div>
                        <% } %>
                </div>
                <div>
                    <input class="email <%= locals.errors && errors.email ? 'is-invalid' : null %>" 
                        value="<%= locals.oldData ? oldData.email : null %>"
                        type="email" name="email"id="email" placeholder="Correo electrónico">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                </div>
                <div >
                    <input class="password <%= locals.errors && errors.password ? 'is-invalid' : null %>" 
                        type="password" id="password"name="password" placeholder="Contraseña">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                </div>
                <div class="birthdate">
                    <label for="birthdate" class="form-label">Fecha de nacimiento:</label>
                    <input  type="date" name="birthdate" id="birthdate" class="form-input" ></input>
                  
                </div>
            </section>
        <div class="imagen">
            <label for="image" class="form-label">Imagen de perfil:</label><br>
            <input type="file" id="image" name="avatar"  id="image"
                class="form-input <%= locals.errors && errors.avatar ? 'is-invalid' : null %>">
                <% if (locals.errors && errors.avatar) { %>
                    <div class="text-danger">
                        <%= errors.avatar.msg %>
                    </div>
                <% } %>
        </div>
        <section class="checkbox">
            <div>
                <input type="checkbox" id="check" class="check" name="terms-and-conditions"> He leído y acepto todos los <strong> términos y condiciones</strong> del sitio.
            </div>
        </section>
            <section class="register-accept" >
                <button type="submit" class="register-button">Registrarme</button>
            </section>
        </form>
    </main>
    <%- include ("../partials/footer") %>
    <script src="/js/register.js"></script> 
</body>
</html>


